/afaf.py
/atamaoperation.py
/banka.py
/bankadata.txt
/bankamatik.txt
/bankamatikdata.txt
/comparisondemo.py
/ddddd.py
/deneyecük.py
/dosya.py
/fordemo.py
/format.py
/gayeexample.py
/icicefonk.py
/if-else-elif-demo.py
/ilkacıs.txt
/input_convercition.py
/lists_exam.py
/list_methods.py
/logical-demo.py
/man.py
/methods.py
/mod.py
/modül.py
/nesne-quiz.py
/numbers.py
/string.py
/strings_demo.py
/string_methods.py
/__pycache__
/örnekler